In [2]:
import pandas as pd
import numpy as np

# 東京天氣資料

In [4]:
tokyo_weather = pd.read_csv("Dataset/tokyo_weather_from_1961_to_2024.csv")
tokyo_weather

,日,気圧(hPa),気圧(hPa).1,降水量(mm),降水量(mm).1,降水量(mm).2,気温(℃),気温(℃).1,気温(℃).2,湿度(％),...,風向・風速(m/s).2,風向・風速(m/s).3,風向・風速(m/s).4,日照 時間 (h),雪(cm),雪(cm).1,天気概況,天気概況.1,年,月
0,日,現地,海面,降水量(mm),降水量(mm),降水量(mm),気温(℃),気温(℃),気温(℃),湿度(％),...,風向・風速(m/s),風向・風速(m/s),風向・風速(m/s),日照 時間 (h),雪(cm),雪(cm),天気概況,天気概況,1961.0,1.0
1,日,平均,平均,合計,最大,最大,平均,最高,最低,平均,...,最大風速,最大瞬間風速,最大瞬間風速,日照 時間 (h),降雪,最深積雪,昼 (06:00-18:00),夜 (18:00-翌日06:00),1961.0,1.0
2,日,平均,平均,合計,1時間,10分間,平均,最高,最低,平均,...,風向,風速,風向,日照 時間 (h),合計,値,昼 (06:00-18:00),夜 (18:00-翌日06:00),1961.0,1.0
3,1,1011.7,1012.4,--,--,--,2.1,7.9,-3.9,41,...,北北東,9.6,北北東,8.6,--,--,NaN,NaN,1961.0,1.0
4,2,1020.2,1021.0,--,--,--,1.5,9.2,-3.3,51,...,南東,4.0,北北西,8.7,--,--,NaN,NaN,1961.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23374,27,1006.9,1009.9,--,--,--,7.4,12.7,3.8,51,...,北,9.2,西北西,6.1,--,--,晴後一時曇,晴,2024.0,12.0
23375,28,1008.1,1011.1,0.0,0.0,0.0,5.4,11.5,1.4,59,...,西北西,9.4,北東,7.5,--,--,晴後一時曇,快晴,2024.0,12.0
23376,29,1013.4,1016.4,--,--,--,6.0,12.3,0.5,54,...,北西,9.5,北西,8.9,--,--,快晴,晴後一時曇,2024.0,12.0
23377,30,1017.1,1020.1,--,--,--,6.2,10.3,3.5,53,...,北西,9.7,北西,5.0,--,--,薄曇一時晴,薄曇,2024.0,12.0
23378,31,1003.4,1006.4,--,--,--,8.0,14.6,2.8,55,...,北北西,12.3,北西,7.6,--,--,晴時々曇,快晴,2024.0,12.0

### 將年和月欄位往前移動

In [6]:
columns = tokyo_weather.columns.tolist()
columns.remove("年")
columns.remove("月")
insert_pos = columns.index("日")

# 插入「年」與「月」到「日」的前面
new_columns = columns[:insert_pos] + ["年", "月"] + columns[insert_pos:]
tokyo_weather = tokyo_weather[new_columns]

# 顯示前幾筆資料確認
tokyo_weather

,年,月,日,気圧(hPa),気圧(hPa).1,降水量(mm),降水量(mm).1,降水量(mm).2,気温(℃),気温(℃).1,...,風向・風速(m/s),風向・風速(m/s).1,風向・風速(m/s).2,風向・風速(m/s).3,風向・風速(m/s).4,日照 時間 (h),雪(cm),雪(cm).1,天気概況,天気概況.1
0,1961.0,1.0,日,現地,海面,降水量(mm),降水量(mm),降水量(mm),気温(℃),気温(℃),...,風向・風速(m/s),風向・風速(m/s),風向・風速(m/s),風向・風速(m/s),風向・風速(m/s),日照 時間 (h),雪(cm),雪(cm),天気概況,天気概況
1,1961.0,1.0,日,平均,平均,合計,最大,最大,平均,最高,...,平均 風速,最大風速,最大風速,最大瞬間風速,最大瞬間風速,日照 時間 (h),降雪,最深積雪,昼 (06:00-18:00),夜 (18:00-翌日06:00)
2,1961.0,1.0,日,平均,平均,合計,1時間,10分間,平均,最高,...,平均 風速,風速,風向,風速,風向,日照 時間 (h),合計,値,昼 (06:00-18:00),夜 (18:00-翌日06:00)
3,1961.0,1.0,1,1011.7,1012.4,--,--,--,2.1,7.9,...,2.4,6.2,北北東,9.6,北北東,8.6,--,--,NaN,NaN
4,1961.0,1.0,2,1020.2,1021.0,--,--,--,1.5,9.2,...,1.5,3.3,南東,4.0,北北西,8.7,--,--,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23374,2024.0,12.0,27,1006.9,1009.9,--,--,--,7.4,12.7,...,2.2,4.6,北,9.2,西北西,6.1,--,--,晴後一時曇,晴
23375,2024.0,12.0,28,1008.1,1011.1,0.0,0.0,0.0,5.4,11.5,...,1.7,4.0,西北西,9.4,北東,7.5,--,--,晴後一時曇,快晴
23376,2024.0,12.0,29,1013.4,1016.4,--,--,--,6.0,12.3,...,1.9,5.2,北西,9.5,北西,8.9,--,--,快晴,晴後一時曇
23377,2024.0,12.0,30,1017.1,1020.1,--,--,--,6.2,10.3,...,2.1,4.7,北西,9.7,北西,5.0,--,--,薄曇一時晴,薄曇
23378,2024.0,12.0,31,1003.4,1006.4,--,--,--,8.0,14.6,...,2.2,5.8,北北西,12.3,北西,7.6,--,--,晴時々曇,快晴

### 將 index = 0~3 的 row 刪除

In [8]:
tokyo_weather = tokyo_weather.drop(index=[0, 1, 2]).reset_index(drop=True)
tokyo_weather

,年,月,日,気圧(hPa),気圧(hPa).1,降水量(mm),降水量(mm).1,降水量(mm).2,気温(℃),気温(℃).1,...,風向・風速(m/s),風向・風速(m/s).1,風向・風速(m/s).2,風向・風速(m/s).3,風向・風速(m/s).4,日照 時間 (h),雪(cm),雪(cm).1,天気概況,天気概況.1
0,1961.0,1.0,1,1011.7,1012.4,--,--,--,2.1,7.9,...,2.4,6.2,北北東,9.6,北北東,8.6,--,--,NaN,NaN
1,1961.0,1.0,2,1020.2,1021.0,--,--,--,1.5,9.2,...,1.5,3.3,南東,4.0,北北西,8.7,--,--,NaN,NaN
2,1961.0,1.0,3,1021.3,1022.1,0.1,0.8,0.0,2.5,7.3,...,1.8,4.2,北北東,6.0,北北東,5.4,--,--,NaN,NaN
3,1961.0,1.0,4,1004.6,1005.3,20.2,13.9,3.2,4.7,11.5,...,4.5,10.2,北北西,19.4,北北西,1.0,--,--,NaN,NaN
4,1961.0,1.0,5,1016.3,1017.0,--,--,--,3.8,7.7,...,6.8,11.3,北,18.3,北北西,8.3,--,--,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23371,2024.0,12.0,27,1006.9,1009.9,--,--,--,7.4,12.7,...,2.2,4.6,北,9.2,西北西,6.1,--,--,晴後一時曇,晴
23372,2024.0,12.0,28,1008.1,1011.1,0.0,0.0,0.0,5.4,11.5,...,1.7,4.0,西北西,9.4,北東,7.5,--,--,晴後一時曇,快晴
23373,2024.0,12.0,29,1013.4,1016.4,--,--,--,6.0,12.3,...,1.9,5.2,北西,9.5,北西,8.9,--,--,快晴,晴後一時曇
23374,2024.0,12.0,30,1017.1,1020.1,--,--,--,6.2,10.3,...,2.1,4.7,北西,9.7,北西,5.0,--,--,薄曇一時晴,薄曇
23375,2024.0,12.0,31,1003.4,1006.4,--,--,--,8.0,14.6,...,2.2,5.8,北北西,12.3,北西,7.6,--,--,晴時々曇,快晴

In [9]:
new_columns = [
    "年", "月", "日", "當地氣壓", "海平面氣壓", "最大降水量", "一小時降水量", "10分鐘降水量",
    "平均氣溫", "最高氣溫", "最低氣溫", "平均濕度", "最小濕度", "平均風速", "最大風速",
    "最大風速風向", "最大瞬間風速", "最大瞬間風速風向", "日照時間", "降雪量", "最深積雪量",
    "白天概況", "夜晚概況"
]
tokyo_weather.columns = new_columns
tokyo_weather

,年,月,日,當地氣壓,海平面氣壓,最大降水量,一小時降水量,10分鐘降水量,平均氣溫,最高氣溫,...,平均風速,最大風速,最大風速風向,最大瞬間風速,最大瞬間風速風向,日照時間,降雪量,最深積雪量,白天概況,夜晚概況
0,1961.0,1.0,1,1011.7,1012.4,--,--,--,2.1,7.9,...,2.4,6.2,北北東,9.6,北北東,8.6,--,--,NaN,NaN
1,1961.0,1.0,2,1020.2,1021.0,--,--,--,1.5,9.2,...,1.5,3.3,南東,4.0,北北西,8.7,--,--,NaN,NaN
2,1961.0,1.0,3,1021.3,1022.1,0.1,0.8,0.0,2.5,7.3,...,1.8,4.2,北北東,6.0,北北東,5.4,--,--,NaN,NaN
3,1961.0,1.0,4,1004.6,1005.3,20.2,13.9,3.2,4.7,11.5,...,4.5,10.2,北北西,19.4,北北西,1.0,--,--,NaN,NaN
4,1961.0,1.0,5,1016.3,1017.0,--,--,--,3.8,7.7,...,6.8,11.3,北,18.3,北北西,8.3,--,--,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23371,2024.0,12.0,27,1006.9,1009.9,--,--,--,7.4,12.7,...,2.2,4.6,北,9.2,西北西,6.1,--,--,晴後一時曇,晴
23372,2024.0,12.0,28,1008.1,1011.1,0.0,0.0,0.0,5.4,11.5,...,1.7,4.0,西北西,9.4,北東,7.5,--,--,晴後一時曇,快晴
23373,2024.0,12.0,29,1013.4,1016.4,--,--,--,6.0,12.3,...,1.9,5.2,北西,9.5,北西,8.9,--,--,快晴,晴後一時曇
23374,2024.0,12.0,30,1017.1,1020.1,--,--,--,6.2,10.3,...,2.1,4.7,北西,9.7,北西,5.0,--,--,薄曇一時晴,薄曇
23375,2024.0,12.0,31,1003.4,1006.4,--,--,--,8.0,14.6,...,2.2,5.8,北北西,12.3,北西,7.6,--,--,晴時々曇,快晴

### 刪除不要的欄位

In [11]:
# 要刪除的欄位名稱清單
columns_to_drop = [
    "平均風速", "最大風速", "最大風速風向", "最大瞬間風速", "最大瞬間風速風向",
    "降雪量", "最深積雪量", "白天概況", "夜晚概況"
]

# 使用 drop() 刪除欄位
tokyo_weather = tokyo_weather.drop(columns=columns_to_drop)
tokyo_weather

,年,月,日,當地氣壓,海平面氣壓,最大降水量,一小時降水量,10分鐘降水量,平均氣溫,最高氣溫,最低氣溫,平均濕度,最小濕度,日照時間
0,1961.0,1.0,1,1011.7,1012.4,--,--,--,2.1,7.9,-3.9,41,15,8.6
1,1961.0,1.0,2,1020.2,1021.0,--,--,--,1.5,9.2,-3.3,51,26,8.7
2,1961.0,1.0,3,1021.3,1022.1,0.1,0.8,0.0,2.5,7.3,-2.4,58,37,5.4
3,1961.0,1.0,4,1004.6,1005.3,20.2,13.9,3.2,4.7,11.5,0.6,60,38,1.0
4,1961.0,1.0,5,1016.3,1017.0,--,--,--,3.8,7.7,1.4,33,19,8.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23371,2024.0,12.0,27,1006.9,1009.9,--,--,--,7.4,12.7,3.8,51,38,6.1
23372,2024.0,12.0,28,1008.1,1011.1,0.0,0.0,0.0,5.4,11.5,1.4,59,36,7.5
23373,2024.0,12.0,29,1013.4,1016.4,--,--,--,6.0,12.3,0.5,54,31,8.9
23374,2024.0,12.0,30,1017.1,1020.1,--,--,--,6.2,10.3,3.5,53,32,5.0
23375,2024.0,12.0,31,1003.4,1006.4,--,--,--,8.0,14.6,2.8,55,37,7.6

### 轉換資料格式

In [13]:
tokyo_weather["年"] = tokyo_weather["年"].astype(int)
tokyo_weather["月"] = tokyo_weather["月"].astype(int)
tokyo_weather["日"] = tokyo_weather["日"].astype(int)
tokyo_weather

,年,月,日,當地氣壓,海平面氣壓,最大降水量,一小時降水量,10分鐘降水量,平均氣溫,最高氣溫,最低氣溫,平均濕度,最小濕度,日照時間
0,1961,1,1,1011.7,1012.4,--,--,--,2.1,7.9,-3.9,41,15,8.6
1,1961,1,2,1020.2,1021.0,--,--,--,1.5,9.2,-3.3,51,26,8.7
2,1961,1,3,1021.3,1022.1,0.1,0.8,0.0,2.5,7.3,-2.4,58,37,5.4
3,1961,1,4,1004.6,1005.3,20.2,13.9,3.2,4.7,11.5,0.6,60,38,1.0
4,1961,1,5,1016.3,1017.0,--,--,--,3.8,7.7,1.4,33,19,8.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23371,2024,12,27,1006.9,1009.9,--,--,--,7.4,12.7,3.8,51,38,6.1
23372,2024,12,28,1008.1,1011.1,0.0,0.0,0.0,5.4,11.5,1.4,59,36,7.5
23373,2024,12,29,1013.4,1016.4,--,--,--,6.0,12.3,0.5,54,31,8.9
23374,2024,12,30,1017.1,1020.1,--,--,--,6.2,10.3,3.5,53,32,5.0
23375,2024,12,31,1003.4,1006.4,--,--,--,8.0,14.6,2.8,55,37,7.6

### 東京天氣資訊

In [15]:
tokyo_weather.describe()

                  年             月             日
count  23376.000000  23376.000000  23376.000000
mean    1992.501027      6.522930     15.729637
std       18.473367      3.448777      8.800280
min     1961.000000      1.000000      1.000000
25%     1976.750000      4.000000      8.000000
50%     1992.500000      7.000000     16.000000
75%     2008.250000     10.000000     23.000000
max     2024.000000     12.000000     31.000000

In [16]:
tokyo_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23376 entries, 0 to 23375
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   年        23376 non-null  int64
 1   月        23376 non-null  int64
 2   日        23376 non-null  int64
 3   當地氣壓     23376 non-null  object
 4   海平面氣壓    23376 non-null  object
 5   最大降水量    23376 non-null  object
 6   一小時降水量   23376 non-null  object
 7   10分鐘降水量  23376 non-null  object
 8   平均氣溫     23376 non-null  object
 9   最高氣溫     23376 non-null  object
 10  最低氣溫     23376 non-null  object
 11  平均濕度     23376 non-null  object
 12  最小濕度     23376 non-null  object
 13  日照時間     23376 non-null  object
dtypes: int64(3), object(11)
memory usage: 2.5+ MB

In [17]:
tokyo_weather.isnull().sum()

年          0
月          0
日          0
當地氣壓       0
海平面氣壓      0
最大降水量      0
一小時降水量     0
10分鐘降水量    0
平均氣溫       0
最高氣溫       0
最低氣溫       0
平均濕度       0
最小濕度       0
日照時間       0
dtype: int64

# 開花日期資料

In [19]:
# 讀取原始資料
blossom_date = pd.read_csv("Dataset/sakura_blossom_date_from_1961_to_2024.csv")

# 直接針對「開花日」欄位，把最後出現的 "3 24" 移除
blossom_date["開花日"] = blossom_date["開花日"].apply(
    lambda x: str(x).rsplit("3 24", 1)[0].strip()
)
blossom_date

        年份區間                                                開花日
0  1961–1970  東京     *   4  1   4  1   4  1   4  2   4  2   ...
1  1971–1980  東京     *   3 30   3 28   3 31   4  2   3 29   ...
2  1981–1990  東京     *   3 26   3 23   3 31   4 11   4  3   ...
3  1991–2000  東京     *   3 30   3 24   3 24   3 31   3 31   ...
4  2001–2010  東京     *   3 23   3 16   3 27   3 18   3 31   ...
5  2011–2020  東京     *   3 28   3 31   3 16   3 25   3 23   ...
6  2021–2024               東京     *   3 14   3 20   3 14   3 29

In [20]:
# 初始化結果儲存列表
all_years = []
all_months = []
all_days = []

# 處理每一列（每列是一段年份區間）
for idx, row in blossom_date.iterrows():
    # 解析年份區間，例如 "1961–1970"
    year_range = row.iloc[0]
    try:
        start_year, end_year = map(int, year_range.split("–"))
    except:
        continue

    year_count = end_year - start_year + 1

    # 擷取日期文字欄位並清理
    raw_string = str(row.iloc[1])
    cleaned = raw_string.replace("東京", "").replace("*", "")
    tokens = cleaned.split()
    tokens = [t for t in tokens if t.isdigit()]

    # 拆解成 (月, 日) 對
    raw_date_pairs = []
    for i in range(0, len(tokens) - 1, 2):
        try:
            month = int(tokens[i])
            day = int(tokens[i + 1])
            raw_date_pairs.append((month, day))
        except:
            continue

    # 只保留最後 year_count 筆資料（避免前面資料錯誤）
    date_pairs = raw_date_pairs[-year_count:]

    # 加入對應年份
    for i, (month, day) in enumerate(date_pairs):
        year = start_year + i
        all_years.append(year)
        all_months.append(month)
        all_days.append(day)

# 建立整理後的 DataFrame
blossom_date = pd.DataFrame({
    "年": all_years,
    "月": all_months,
    "日": all_days
})

blossom_date

       年  月   日
0   1961  4   1
1   1962  4   1
2   1963  4   1
3   1964  4   2
4   1965  4   2
..   ... ..  ..
59  2020  3  14
60  2021  3  14
61  2022  3  20
62  2023  3  14
63  2024  3  29

[64 rows x 3 columns]

In [21]:
blossom_date[blossom_date["年"] == 1966]

      年  月   日
5  1966  3  20

In [22]:
blossom_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年       64 non-null     int64
 1   月       64 non-null     int64
 2   日       64 non-null     int64
dtypes: int64(3)
memory usage: 1.6 KB

In [23]:
blossom_date.isnull().sum()

年    0
月    0
日    0
dtype: int64

In [48]:
# 建立從1961-01-01到2024-12-31的完整日期範圍
full_date_range = pd.date_range(start="1961-01-01", end="2024-12-31")

# 將日期範圍轉換為 DataFrame，拆分成年、月、日欄位
blossom_date_expanded = pd.DataFrame({
    "年": full_date_range.year,
    "月": full_date_range.month,
    "日": full_date_range.day
})

# 新增一欄 blossom_date，預設為 0（表示非開花日）
blossom_date_expanded["開花日"] = 0

# 將原始開花日資料新增一欄 "date"，轉為 datetime 格式以便比對
blossom_date["日期"] = pd.to_datetime(dict(year=blossom_date["年"], 
                                                     month=blossom_date["月"], 
                                                     day=blossom_date["日"]
                                                    )
                                               )

# 將完整資料中的日期也轉為 datetime 格式
blossom_date_expanded["日期"] = pd.to_datetime(dict(year=blossom_date_expanded["年"], 
                                                    month=blossom_date_expanded["月"], 
                                                    day=blossom_date_expanded["日"]
                                                   )
                                              )

# 比對日期，若是開花日，將 blossom_date 設為 1
blossom_date_expanded.loc[blossom_date_expanded["日期"].isin(blossom_date["日期"]), "開花日"] = 1

# 移除中間用來比對的 date 欄位
blossom_date_expanded.drop(columns="日期", inplace=True)

# 顯示前幾列查看結果
print(blossom_date_expanded.head())

      年  月  日  開花日
0  1961  1  1    0
1  1961  1  2    0
2  1961  1  3    0
3  1961  1  4    0
4  1961  1  5    0

In [50]:
print(blossom_date_expanded[blossom_date_expanded["開花日"] == 1])

          年  月   日  開花日
90     1961  4   1    1
455    1962  4   1    1
820    1963  4   1    1
1187   1964  4   2    1
1552   1965  4   2    1
...     ... ..  ..  ...
21622  2020  3  14    1
21987  2021  3  14    1
22358  2022  3  20    1
22717  2023  3  14    1
23098  2024  3  29    1

[64 rows x 4 columns]

In [52]:
# 合併資料：依據 年、月、日 對齊
tokyo_weather_processed_merged = pd.merge(tokyo_weather, blossom_date_expanded[["年", "月", "日", "開花日"]], on=["年", "月", "日"], how="left")

# 將 "開花日" 欄位移動到最後一欄
cols = list(tokyo_weather_processed_merged.columns)
cols.remove("開花日")
cols.append("開花日")
tokyo_weather_processed_merged = tokyo_weather_processed_merged[cols]

# 顯示前幾筆資料確認
print(tokyo_weather_processed_merged.head())

      年  月  日    當地氣壓   海平面氣壓 最大降水量 一小時降水量 10分鐘降水量 平均氣溫  最高氣溫  最低氣溫 平均濕度 最小濕度  \
0  1961  1  1  1011.7  1012.4    --     --      --  2.1   7.9  -3.9   41   15
1  1961  1  2  1020.2  1021.0    --     --      --  1.5   9.2  -3.3   51   26
2  1961  1  3  1021.3  1022.1   0.1    0.8     0.0  2.5   7.3  -2.4   58   37
3  1961  1  4  1004.6  1005.3  20.2   13.9     3.2  4.7  11.5   0.6   60   38
4  1961  1  5  1016.3  1017.0    --     --      --  3.8   7.7   1.4   33   19

  日照時間  開花日
0  8.6    0
1  8.7    0
2  5.4    0
3  1.0    0
4  8.3    0

In [54]:
non_numeric_data = {}

# 檢查所有欄位的非數字資料
for col in tokyo_weather_processed_merged.columns[:14]:  # 假設我們檢查第 4 欄到第 14 欄
    # 用 pd.to_numeric 嘗試將資料轉換為數字，若無法轉換則回傳 NaN
    non_numeric_entries = tokyo_weather_processed_merged[col].apply(pd.to_numeric, errors='coerce')
    
    # 找出原資料中那些轉換為 NaN 的項目，這些項目為非數字格式
    non_numeric_data[col] = tokyo_weather_processed_merged[col][non_numeric_entries.isna()]

# 顯示每一個欄位中非數字格式的資料
for col, values in non_numeric_data.items():
    print(f"欄位: {col}")
    print(values)
    print("-" * 50)

欄位: 年
Series([], Name: 年, dtype: int64)
--------------------------------------------------
欄位: 月
Series([], Name: 月, dtype: int64)
--------------------------------------------------
欄位: 日
Series([], Name: 日, dtype: int64)
--------------------------------------------------
欄位: 當地氣壓
12026    1014.8 )
13176    1000.6 )
17467    1006.5 )
21520    1009.7 )
21526    1024.3 )
Name: 當地氣壓, dtype: object
--------------------------------------------------
欄位: 海平面氣壓
11528    1011.0 )
12026    1019.2 )
13176    1004.9 )
17467    1010.8 )
21520    1012.6 )
21526    1027.3 )
21859    1024.8 )
23321    1022.8 )
Name: 海平面氣壓, dtype: object
--------------------------------------------------
欄位: 最大降水量
0        --
1        --
4        --
5        --
6        --
         ..
23370    --
23371    --
23373    --
23374    --
23375    --
Name: 最大降水量, Length: 11135, dtype: object
--------------------------------------------------
欄位: 一小時降水量
0        --
1        --
4        --
5        --
6        --
         ..
23370    --
23371    --
23373    --
23374    --
23375    --
Name: 一小時降水量, Length: 11014, dtype: object
--------------------------------------------------
欄位: 10分鐘降水量
0        --
1        --
4        --
5        --
6        --
         ..
23370    --
23371    --
23373    --
23374    --
23375    --
Name: 10分鐘降水量, Length: 11138, dtype: object
--------------------------------------------------
欄位: 平均氣溫
11528    28.4 )
12026    10.0 )
13176     7.5 )
21520    11.8 )
21526     6.4 )
21859    12.8 )
23321    13.4 )
Name: 平均氣溫, dtype: object
--------------------------------------------------
欄位: 最高氣溫
19860    26.2 )
20042    21.2 )
20953    28.4 )
21316    22.6 )
21520    17.0 )
Name: 最高氣溫, dtype: object
--------------------------------------------------
欄位: 最低氣溫
12251    ×
Name: 最低氣溫, dtype: object
--------------------------------------------------
欄位: 平均濕度
11010    38 )
11528    68 )
11862    78 )
11925    81 )
12026    43 )
12514    74 ]
12714    70 )
12782    45 )
13176    48 )
14429    70 )
15585    71 )
17383    84 )
20261    88 )
20262    85 ]
20788    85 )
20827    65 ]
20841    69 )
20878    63 )
20885    92 )
20886    85 )
20952    55 ]
20991    79 )
21486    81 )
21520    55 )
21526    66 )
21696    81 )
21859    67 )
22237    73 )
23321    52 )
Name: 平均濕度, dtype: object
--------------------------------------------------
欄位: 最小濕度
11862       ×
11925       ×
13176       ×
17378    51 )
19400    44 )
19433    33 )
19860    47 )
20042    57 )
20788    72 )
20952    24 ]
20953    35 )
21143    51 )
21520    33 )
23175    39 )
23321    35 )
Name: 最小濕度, dtype: object
--------------------------------------------------
欄位: 日照時間
8           --
9           --
29          --
36          --
37          --
         ...
22808    3.6 )
22896        ×
22897        ×
22898    1.2 ]
22955    2.5 )
Name: 日照時間, Length: 3079, dtype: object
--------------------------------------------------

In [55]:
# 對所有指定欄位清理括號符號
for col in tokyo_weather_processed_merged.columns[3:14]:
    tokyo_weather_processed_merged[col] = tokyo_weather_processed_merged[col].astype(str).str.replace(r"[)\]]", "", regex=True)

In [56]:
# 將 '--' 統一轉成 0，適用於所有數值欄位
for col in tokyo_weather_processed_merged.columns[3:14]:  # 第4到第14欄是氣象數值欄
    tokyo_weather_processed_merged[col] = tokyo_weather_processed_merged[col].replace("--", "0")

In [57]:
non_numeric_data = {}

# 檢查所有欄位的非數字資料
for col in tokyo_weather_processed_merged.columns[:14]:  # 假設我們檢查第 4 欄到第 14 欄
    # 用 pd.to_numeric 嘗試將資料轉換為數字，若無法轉換則回傳 NaN
    non_numeric_entries = tokyo_weather_processed_merged[col].apply(pd.to_numeric, errors='coerce')
    
    # 找出原資料中那些轉換為 NaN 的項目，這些項目為非數字格式
    non_numeric_data[col] = tokyo_weather_processed_merged[col][non_numeric_entries.isna()]

# 顯示每一個欄位中非數字格式的資料
for col, values in non_numeric_data.items():
    print(f"欄位: {col}")
    print(values)
    print("-" * 50)

欄位: 年
Series([], Name: 年, dtype: int64)
--------------------------------------------------
欄位: 月
Series([], Name: 月, dtype: int64)
--------------------------------------------------
欄位: 日
Series([], Name: 日, dtype: int64)
--------------------------------------------------
欄位: 當地氣壓
Series([], Name: 當地氣壓, dtype: object)
--------------------------------------------------
欄位: 海平面氣壓
Series([], Name: 海平面氣壓, dtype: object)
--------------------------------------------------
欄位: 最大降水量
1369    ×
1378    ×
1395    ×
1404    ×
1463    ×
1471    ×
1497    ×
1505    ×
1522    ×
1550    ×
1561    ×
1634    ×
1642    ×
1651    ×
1655    ×
1683    ×
1697    ×
1705    ×
1707    ×
1721    ×
1725    ×
1727    ×
1731    ×
1739    ×
1795    ×
4784    ×
Name: 最大降水量, dtype: object
--------------------------------------------------
欄位: 一小時降水量
800      ×
801      ×
1143     ×
1369     ×
1378     ×
1395     ×
1404     ×
1463     ×
1466     ×
1471     ×
1497     ×
1505     ×
1522     ×
1550     ×
1561     ×
1634     ×
1642     ×
1651     ×
1655     ×
1683     ×
1697     ×
1705     ×
1707     ×
1721     ×
1725     ×
1727     ×
1731     ×
1739     ×
1785     ×
1795     ×
1999     ×
2225     ×
2255     ×
4057     ×
4768     ×
4784     ×
11191    ×
12312    ×
13521    ×
Name: 一小時降水量, dtype: object
--------------------------------------------------
欄位: 10分鐘降水量
800      ×
801      ×
1119     ×
1143     ×
1149     ×
1150     ×
1369     ×
1378     ×
1395     ×
1404     ×
1463     ×
1466     ×
1468     ×
1471     ×
1497     ×
1505     ×
1522     ×
1550     ×
1561     ×
1584     ×
1634     ×
1642     ×
1651     ×
1655     ×
1683     ×
1697     ×
1705     ×
1707     ×
1721     ×
1725     ×
1727     ×
1731     ×
1739     ×
1750     ×
1751     ×
1785     ×
1795     ×
1999     ×
2225     ×
2233     ×
2255     ×
4057     ×
4768     ×
4769     ×
4784     ×
5164     ×
11192    ×
12312    ×
13521    ×
Name: 10分鐘降水量, dtype: object
--------------------------------------------------
欄位: 平均氣溫
Series([], Name: 平均氣溫, dtype: object)
--------------------------------------------------
欄位: 最高氣溫
Series([], Name: 最高氣溫, dtype: object)
--------------------------------------------------
欄位: 最低氣溫
12251    ×
Name: 最低氣溫, dtype: object
--------------------------------------------------
欄位: 平均濕度
Series([], Name: 平均濕度, dtype: object)
--------------------------------------------------
欄位: 最小濕度
11862    ×
11925    ×
13176    ×
Name: 最小濕度, dtype: object
--------------------------------------------------
欄位: 日照時間
22896    ×
22897    ×
Name: 日照時間, dtype: object
--------------------------------------------------

In [58]:
# 將 3-14欄位，轉為數值資料格式
for col in tokyo_weather_processed_merged.columns[3:14]:
    tokyo_weather_processed_merged[col] = pd.to_numeric(
        tokyo_weather_processed_merged[col], errors="coerce"
    ).astype(float)

In [59]:
non_numeric_data = {}

# 檢查所有欄位的非數字資料
for col in tokyo_weather_processed_merged.columns[:14]:  # 假設我們檢查第 4 欄到第 14 欄
    # 用 pd.to_numeric 嘗試將資料轉換為數字，若無法轉換則回傳 NaN
    non_numeric_entries = tokyo_weather_processed_merged[col].apply(pd.to_numeric, errors='coerce')
    
    # 找出原資料中那些轉換為 NaN 的項目，這些項目為非數字格式
    non_numeric_data[col] = tokyo_weather_processed_merged[col][non_numeric_entries.isna()]

# 顯示每一個欄位中非數字格式的資料
for col, values in non_numeric_data.items():
    print(f"欄位: {col}")
    print(values)
    print("-" * 50)

欄位: 年
Series([], Name: 年, dtype: int64)
--------------------------------------------------
欄位: 月
Series([], Name: 月, dtype: int64)
--------------------------------------------------
欄位: 日
Series([], Name: 日, dtype: int64)
--------------------------------------------------
欄位: 當地氣壓
Series([], Name: 當地氣壓, dtype: float64)
--------------------------------------------------
欄位: 海平面氣壓
Series([], Name: 海平面氣壓, dtype: float64)
--------------------------------------------------
欄位: 最大降水量
1369   NaN
1378   NaN
1395   NaN
1404   NaN
1463   NaN
1471   NaN
1497   NaN
1505   NaN
1522   NaN
1550   NaN
1561   NaN
1634   NaN
1642   NaN
1651   NaN
1655   NaN
1683   NaN
1697   NaN
1705   NaN
1707   NaN
1721   NaN
1725   NaN
1727   NaN
1731   NaN
1739   NaN
1795   NaN
4784   NaN
Name: 最大降水量, dtype: float64
--------------------------------------------------
欄位: 一小時降水量
800     NaN
801     NaN
1143    NaN
1369    NaN
1378    NaN
1395    NaN
1404    NaN
1463    NaN
1466    NaN
1471    NaN
1497    NaN
1505    NaN
1522    NaN
1550    NaN
1561    NaN
1634    NaN
1642    NaN
1651    NaN
1655    NaN
1683    NaN
1697    NaN
1705    NaN
1707    NaN
1721    NaN
1725    NaN
1727    NaN
1731    NaN
1739    NaN
1785    NaN
1795    NaN
1999    NaN
2225    NaN
2255    NaN
4057    NaN
4768    NaN
4784    NaN
11191   NaN
12312   NaN
13521   NaN
Name: 一小時降水量, dtype: float64
--------------------------------------------------
欄位: 10分鐘降水量
800     NaN
801     NaN
1119    NaN
1143    NaN
1149    NaN
1150    NaN
1369    NaN
1378    NaN
1395    NaN
1404    NaN
1463    NaN
1466    NaN
1468    NaN
1471    NaN
1497    NaN
1505    NaN
1522    NaN
1550    NaN
1561    NaN
1584    NaN
1634    NaN
1642    NaN
1651    NaN
1655    NaN
1683    NaN
1697    NaN
1705    NaN
1707    NaN
1721    NaN
1725    NaN
1727    NaN
1731    NaN
1739    NaN
1750    NaN
1751    NaN
1785    NaN
1795    NaN
1999    NaN
2225    NaN
2233    NaN
2255    NaN
4057    NaN
4768    NaN
4769    NaN
4784    NaN
5164    NaN
11192   NaN
12312   NaN
13521   NaN
Name: 10分鐘降水量, dtype: float64
--------------------------------------------------
欄位: 平均氣溫
Series([], Name: 平均氣溫, dtype: float64)
--------------------------------------------------
欄位: 最高氣溫
Series([], Name: 最高氣溫, dtype: float64)
--------------------------------------------------
欄位: 最低氣溫
12251   NaN
Name: 最低氣溫, dtype: float64
--------------------------------------------------
欄位: 平均濕度
Series([], Name: 平均濕度, dtype: float64)
--------------------------------------------------
欄位: 最小濕度
11862   NaN
11925   NaN
13176   NaN
Name: 最小濕度, dtype: float64
--------------------------------------------------
欄位: 日照時間
22896   NaN
22897   NaN
Name: 日照時間, dtype: float64
--------------------------------------------------

In [60]:
# 找出「最低氣溫」欄位為 "NaN" 的資料
lowest_temp_x = tokyo_weather_processed_merged[tokyo_weather_processed_merged["最低氣溫"].isna()]
print(lowest_temp_x)

          年  月   日    當地氣壓   海平面氣壓  最大降水量  一小時降水量  10分鐘降水量  平均氣溫  最高氣溫  最低氣溫  \
12251  1994  7  18  1005.6  1009.7   54.5    47.0     19.0  25.8  28.3   NaN

       平均濕度  最小濕度  日照時間  開花日
12251  81.0  68.0   0.0    0

In [61]:
# 抓出 7 月的最低氣溫（排除 NaN）
july_min_temp = tokyo_weather_processed_merged[
    (tokyo_weather_processed_merged["月"] == 7) & (tokyo_weather_processed_merged["最低氣溫"].notna())
]["最低氣溫"]

# 計算平均
mean_july_min_temp = july_min_temp.mean()
print(f"7月的最低氣溫平均為：約 {mean_july_min_temp:.2f}°C")

7月的最低氣溫平均為：約 22.91°C

In [62]:
tokyo_weather_processed_merged.at[12251, "最低氣溫"] = 22.9
print(tokyo_weather_processed_merged.loc[12251])

年          1994.0
月             7.0
日            18.0
當地氣壓       1005.6
海平面氣壓      1009.7
最大降水量        54.5
一小時降水量       47.0
10分鐘降水量      19.0
平均氣溫         25.8
最高氣溫         28.3
最低氣溫         22.9
平均濕度         81.0
最小濕度         68.0
日照時間          0.0
開花日           0.0
Name: 12251, dtype: float64

In [63]:
tokyo_weather_processed_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23376 entries, 0 to 23375
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   年        23376 non-null  int64
 1   月        23376 non-null  int64
 2   日        23376 non-null  int64
 3   當地氣壓     23376 non-null  float64
 4   海平面氣壓    23376 non-null  float64
 5   最大降水量    23350 non-null  float64
 6   一小時降水量   23337 non-null  float64
 7   10分鐘降水量  23327 non-null  float64
 8   平均氣溫     23376 non-null  float64
 9   最高氣溫     23376 non-null  float64
 10  最低氣溫     23376 non-null  float64
 11  平均濕度     23376 non-null  float64
 12  最小濕度     23373 non-null  float64
 13  日照時間     23374 non-null  float64
 14  開花日      23376 non-null  int64
dtypes: float64(11), int64(4)
memory usage: 2.7 MB

In [64]:
# 找出「最小濕度」欄位為 "NaN" 的資料
missing_min_humidity = tokyo_weather_processed_merged[tokyo_weather_processed_merged["最小濕度"].isna()]
print(missing_min_humidity)

          年  月   日    當地氣壓   海平面氣壓  最大降水量  一小時降水量  10分鐘降水量  平均氣溫  最高氣溫  最低氣溫  \
11862  1993  6  24  1001.8  1005.9    4.0     3.5      1.5  21.7  24.8  19.3
11925  1993  8  26  1002.4  1006.5   59.5    23.0      9.0  25.6  28.7  23.9
13176  1997  1  28  1000.6  1004.9    0.0     0.0      0.0   7.5  12.0   3.0

       平均濕度  最小濕度  日照時間  開花日
11862  78.0   NaN   0.6    0
11925  81.0   NaN   0.5    0
13176  48.0   NaN   7.8    0

In [65]:
target_min_humidity = [11862, 11925, 13176]

for idx in target_min_humidity:
    row = tokyo_weather_processed_merged.loc[idx]
    target_month = row["月"]

    # 篩選該月份、排除 NaN 的最小濕度資料
    same_month_data = tokyo_weather_processed_merged[
        (tokyo_weather_processed_merged["月"] == target_month) &
        (~tokyo_weather_processed_merged["最小濕度"].isna())
    ]

    # 計算該月的平均最小濕度
    mean_min_humidity = same_month_data["最小濕度"].mean()

    # 填補該筆資料
    tokyo_weather_processed_merged.at[idx, "最小濕度"] = round(mean_min_humidity)

    print(f"Index {idx} 補為：{round(mean_min_humidity)}%")

Index 11862 補為：56%
Index 11925 補為：56%
Index 13176 補為：33%

In [66]:
sun_time = tokyo_weather_processed_merged[tokyo_weather_processed_merged["日照時間"].isna()]
print(sun_time)

          年  月   日    當地氣壓   海平面氣壓  最大降水量  一小時降水量  10分鐘降水量  平均氣溫  最高氣溫  最低氣溫  \
22896  2023  9   9  1006.8  1009.6    1.0     1.0      0.5  24.8  29.6  21.7
22897  2023  9  10  1009.1  1011.8    0.0     0.0      0.0  27.8  33.0  23.6

       平均濕度  最小濕度  日照時間  開花日
22896  93.0  77.0   NaN    0
22897  83.0  63.0   NaN    0

In [67]:
# 補上你自己判斷的值
tokyo_weather_processed_merged.at[22896, "日照時間"] = 0.0   # 曇一時雨 → 無日照
tokyo_weather_processed_merged.at[22897, "日照時間"] = 2.0   # 晴後一時曇 → 少量日照（你也可以選 1.5 或 3.0）

# 查看補完的結果
print(tokyo_weather_processed_merged.loc[[22896, 22897], ["年", "月", "日", "日照時間"]])

          年  月   日  日照時間
22896  2023  9   9   0.0
22897  2023  9  10   2.0

In [68]:
tokyo_weather_processed_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23376 entries, 0 to 23375
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   年        23376 non-null  int64
 1   月        23376 non-null  int64
 2   日        23376 non-null  int64
 3   當地氣壓     23376 non-null  float64
 4   海平面氣壓    23376 non-null  float64
 5   最大降水量    23350 non-null  float64
 6   一小時降水量   23337 non-null  float64
 7   10分鐘降水量  23327 non-null  float64
 8   平均氣溫     23376 non-null  float64
 9   最高氣溫     23376 non-null  float64
 10  最低氣溫     23376 non-null  float64
 11  平均濕度     23376 non-null  float64
 12  最小濕度     23376 non-null  float64
 13  日照時間     23376 non-null  float64
 14  開花日      23376 non-null  int64
dtypes: float64(11), int64(4)
memory usage: 2.7 MB

In [69]:
non_numeric_data = {}

# 檢查所有欄位的非數字資料
for col in tokyo_weather_processed_merged.columns[:14]:  # 假設我們檢查第 4 欄到第 14 欄
    # 用 pd.to_numeric 嘗試將資料轉換為數字，若無法轉換則回傳 NaN
    non_numeric_entries = tokyo_weather_processed_merged[col].apply(pd.to_numeric, errors='coerce')
    
    # 找出原資料中那些轉換為 NaN 的項目，這些項目為非數字格式
    non_numeric_data[col] = tokyo_weather_processed_merged[col][non_numeric_entries.isna()]

# 顯示每一個欄位中非數字格式的資料
for col, values in non_numeric_data.items():
    print(f"欄位: {col}")
    print(values)
    print("-" * 50)

欄位: 年
Series([], Name: 年, dtype: int64)
--------------------------------------------------
欄位: 月
Series([], Name: 月, dtype: int64)
--------------------------------------------------
欄位: 日
Series([], Name: 日, dtype: int64)
--------------------------------------------------
欄位: 當地氣壓
Series([], Name: 當地氣壓, dtype: float64)
--------------------------------------------------
欄位: 海平面氣壓
Series([], Name: 海平面氣壓, dtype: float64)
--------------------------------------------------
欄位: 最大降水量
1369   NaN
1378   NaN
1395   NaN
1404   NaN
1463   NaN
1471   NaN
1497   NaN
1505   NaN
1522   NaN
1550   NaN
1561   NaN
1634   NaN
1642   NaN
1651   NaN
1655   NaN
1683   NaN
1697   NaN
1705   NaN
1707   NaN
1721   NaN
1725   NaN
1727   NaN
1731   NaN
1739   NaN
1795   NaN
4784   NaN
Name: 最大降水量, dtype: float64
--------------------------------------------------
欄位: 一小時降水量
800     NaN
801     NaN
1143    NaN
1369    NaN
1378    NaN
1395    NaN
1404    NaN
1463    NaN
1466    NaN
1471    NaN
1497    NaN
1505    NaN
1522    NaN
1550    NaN
1561    NaN
1634    NaN
1642    NaN
1651    NaN
1655    NaN
1683    NaN
1697    NaN
1705    NaN
1707    NaN
1721    NaN
1725    NaN
1727    NaN
1731    NaN
1739    NaN
1785    NaN
1795    NaN
1999    NaN
2225    NaN
2255    NaN
4057    NaN
4768    NaN
4784    NaN
11191   NaN
12312   NaN
13521   NaN
Name: 一小時降水量, dtype: float64
--------------------------------------------------
欄位: 10分鐘降水量
800     NaN
801     NaN
1119    NaN
1143    NaN
1149    NaN
1150    NaN
1369    NaN
1378    NaN
1395    NaN
1404    NaN
1463    NaN
1466    NaN
1468    NaN
1471    NaN
1497    NaN
1505    NaN
1522    NaN
1550    NaN
1561    NaN
1584    NaN
1634    NaN
1642    NaN
1651    NaN
1655    NaN
1683    NaN
1697    NaN
1705    NaN
1707    NaN
1721    NaN
1725    NaN
1727    NaN
1731    NaN
1739    NaN
1750    NaN
1751    NaN
1785    NaN
1795    NaN
1999    NaN
2225    NaN
2233    NaN
2255    NaN
4057    NaN
4768    NaN
4769    NaN
4784    NaN
5164    NaN
11192   NaN
12312   NaN
13521   NaN
Name: 10分鐘降水量, dtype: float64
--------------------------------------------------
欄位: 平均氣溫
Series([], Name: 平均氣溫, dtype: float64)
--------------------------------------------------
欄位: 最高氣溫
Series([], Name: 最高氣溫, dtype: float64)
--------------------------------------------------
欄位: 最低氣溫
Series([], Name: 最低氣溫, dtype: float64)
--------------------------------------------------
欄位: 平均濕度
Series([], Name: 平均濕度, dtype: float64)
--------------------------------------------------
欄位: 最小濕度
Series([], Name: 最小濕度, dtype: float64)
--------------------------------------------------
欄位: 日照時間
Series([], Name: 日照時間, dtype: float64)
--------------------------------------------------

In [70]:
# 找出所有欄位中有 NaN 的資料列
missing_rows = tokyo_weather_processed_merged[tokyo_weather_processed_merged.isna().any(axis=1)]
print(missing_rows)

          年   月   日    當地氣壓   海平面氣壓  最大降水量  一小時降水量  10分鐘降水量  平均氣溫  最高氣溫  最低氣溫  \
800    1963   3  12  1021.7  1022.5    9.6     NaN      NaN   2.9   4.9   1.7
801    1963   3  13  1015.5  1016.2    0.2     NaN      NaN   1.4   3.9  -0.8
1119   1964   1  25  1012.6  1013.2    2.4     0.9      NaN   3.2   7.0   1.0
1143   1964   2  18  1020.7  1021.5    4.1     NaN      NaN   1.5   3.9   0.0
1149   1964   2  24  1029.2  1029.9    2.8     1.0      NaN   1.7   4.6  -0.2
1150   1964   2  25  1022.2  1022.9    8.5     1.8      NaN   1.5   3.6  -1.0
1369   1964  10   1  1016.1  1016.8    NaN     NaN      NaN  18.9  22.9  16.1
1378   1964  10  10  1019.8  1020.5    NaN     NaN      NaN  15.9  20.9  12.2
1395   1964  10  27  1025.3  1026.0    NaN     NaN      NaN  10.9  12.9   9.5
1404   1964  11   5  1014.1  1014.8    NaN     NaN      NaN  15.9  20.0  11.7
1463   1965   1   3  1013.1  1017.5    NaN     NaN      NaN   3.7   6.5   2.0
1466   1965   1   6  1014.4  1018.9    3.0     NaN      NaN   1.6   4.1  -1.0
1468   1965   1   8   989.3   993.6    3.0     0.5      NaN   5.3   9.0   3.3
1471   1965   1  11  1006.5  1011.0    NaN     NaN      NaN   0.9   2.6  -0.9
1497   1965   2   6  1005.6  1010.1    NaN     NaN      NaN   2.0   4.2  -0.7
1505   1965   2  14  1006.3  1010.6    NaN     NaN      NaN   7.4  14.6   2.0
1522   1965   3   3  1014.1  1018.6    NaN     NaN      NaN   3.9   7.3   0.2
1550   1965   3  31  1008.3  1012.6    NaN     NaN      NaN  10.3  15.4   2.6
1561   1965   4  11  1006.3  1010.7    NaN     NaN      NaN   7.6  11.9   5.0
1584   1965   5   4  1003.6  1007.9    0.5     0.5      NaN  15.9  21.8  10.1
1634   1965   6  23  1004.0  1008.1    NaN     NaN      NaN  22.5  26.0  19.4
1642   1965   7   1   998.9  1003.0    NaN     NaN      NaN  25.1  28.7  22.4
1651   1965   7  10  1006.8  1011.0    NaN     NaN      NaN  22.1  24.6  20.5
1655   1965   7  14  1009.9  1014.0    NaN     NaN      NaN  25.6  29.5  21.0
1683   1965   8  11  1004.8  1008.8    NaN     NaN      NaN  27.6  31.2  23.5
1697   1965   8  25  1003.3  1007.3    NaN     NaN      NaN  27.5  31.7  24.3
1705   1965   9   2  1003.8  1007.9    NaN     NaN      NaN  23.7  26.0  21.1
1707   1965   9   4   998.1  1002.2    NaN     NaN      NaN  24.6  28.5  20.7
1721   1965   9  18   995.8   999.9    NaN     NaN      NaN  24.0  28.0  20.1
1725   1965   9  22  1015.5  1019.7    NaN     NaN      NaN  22.7  27.1  19.5
1727   1965   9  24  1012.8  1017.0    NaN     NaN      NaN  21.7  25.0  19.2
1731   1965   9  28  1001.7  1005.9    NaN     NaN      NaN  21.3  26.8  18.3
1739   1965  10   6  1007.9  1012.1    NaN     NaN      NaN  20.4  25.0  16.1
1750   1965  10  17  1013.4  1017.7    0.5     0.5      NaN  16.7  21.6  13.1
1751   1965  10  18  1015.0  1019.3    0.5     0.5      NaN  15.2  17.5  12.9
1785   1965  11  21  1012.9  1017.2    0.5     NaN      NaN  12.5  19.7   7.4
1795   1965  12   1  1008.3  1012.7    NaN     NaN      NaN   8.5  12.5   4.7
1999   1966   6  23  1008.3  1012.5   11.5     NaN      NaN  23.5  27.8  19.5
2225   1967   2   4  1007.8  1012.2    5.0     NaN      NaN   5.8  12.1   0.9
2233   1967   2  12  1014.4  1019.0    0.8     0.3      NaN  -1.2  -0.2  -2.1
2255   1967   3   6  1012.3  1016.7    3.0     NaN      NaN   3.8   5.1   2.8
4057   1972   2  10  1009.3  1013.7   19.0     NaN      NaN   2.0   4.3   0.1
4768   1974   1  21  1013.5  1018.1   24.5     NaN      NaN   0.2   2.5  -1.3
4769   1974   1  22   999.2  1003.6    4.5     4.5      NaN   5.6   9.6   0.2
4784   1974   2   6  1010.5  1015.0    NaN     NaN      NaN   4.1   7.5   0.5
5164   1975   2  21   994.7   999.1   16.0     3.0      NaN   2.4   5.2   0.1
11191  1991   8  23   997.2  1001.2    2.0     NaN      1.5  28.2  34.2  22.7
11192  1991   8  24  1003.6  1007.7   19.0    13.0      NaN  22.5  25.0  21.0
12312  1994   9  17  1002.3  1006.4    1.0     NaN      NaN  25.5  28.5  24.0
13521  1998   1   8  1012.8  1017.3   34.0     NaN      NaN   2.4   5.0   0.4

       平均濕度  最小濕度  日照時間  開花日
800    57.0  44.0   0.0    0
801    78.0  56.0   0.0    0
1119   70.0  50.0   3.2    0
1143   63.0  35.0   0.0    0
1149   53.0  35.0   0.0    0
1150   86.0  65.0   0.0    0
1369   77.0  57.0   4.5    0
1378   55.0  34.0   9.7    0
1395   83.0  71.0   0.0    0
1404   73.0  56.0   1.7    0
1463   55.0  36.0   2.8    0
1466   75.0  56.0   0.4    0
1468   89.0  80.0   0.0    0
1471   68.0  50.0   0.4    0
1497   65.0  44.0   1.2    0
1505   65.0  44.0   6.8    0
1522   70.0  55.0   3.8    0
1550   49.0  32.0   9.8    0
1561   34.0  21.0   8.1    0
1584   63.0  34.0  12.8    0
1634   77.0  60.0   5.0    0
1642   70.0  49.0   2.0    0
1651   76.0  62.0   0.4    0
1655   77.0  58.0   3.5    0
1683   71.0  56.0   6.4    0
1697   70.0  50.0   6.4    0
1705   72.0  61.0   0.4    0
1707   71.0  59.0   4.3    0
1721   50.0  33.0  10.2    0
1725   65.0  43.0   3.4    0
1727   64.0  46.0   2.0    0
1731   65.0  41.0   6.0    0
1739   60.0  44.0   4.6    0
1750   70.0  50.0   4.3    0
1751   75.0  65.0   1.2    0
1785   66.0  33.0   6.2    0
1795   51.0  35.0   6.9    0
1999   66.0  50.0   3.5    0
2225   48.0  27.0   6.7    0
2233   83.0  72.0   0.0    0
2255   80.0  71.0   0.0    0
4057   81.0  58.0   0.0    0
4768   69.0  43.0   0.0    0
4769   57.0  39.0   9.2    0
4784   78.0  52.0   2.8    0
5164   75.0  51.0   0.0    0
11191  77.0  51.0   6.2    0
11192  75.0  61.0   1.2    0
12312  82.0  67.0   2.9    0
13521  68.0  40.0   0.0    0

In [71]:
tokyo_weather_processed_merged['最大降水量'] = tokyo_weather_processed_merged['最大降水量'].fillna(0)
tokyo_weather_processed_merged['一小時降水量'] = tokyo_weather_processed_merged['一小時降水量'].fillna(0)
tokyo_weather_processed_merged['10分鐘降水量'] = tokyo_weather_processed_merged['10分鐘降水量'].fillna(0)

In [77]:
#儲存合併後的檔案
tokyo_weather_processed_merged.to_csv("Dataset/weather_dataset.csv", index=False)
print("CSV 檔案已成功儲存為 weather_dataset.csv")

CSV 檔案已成功儲存為 weather_dataset.csv

### 按照年份順序切 8:2

In [79]:
# 計算 80% 的切割點
split_index = int(len(all_years) * 0.8)

# 分成前 80% 年份為訓練集，後 20% 年份為測試集
train_years = all_years[:split_index]
test_years = all_years[split_index:]

# 根據年份分割資料
train = tokyo_weather_processed_merged[tokyo_weather_processed_merged["年"].isin(train_years)]
test = tokyo_weather_processed_merged[tokyo_weather_processed_merged["年"].isin(test_years)]

# 檢查分割結果
print("訓練集年份：", train_years[0], "~", train_years[-1])
print("測試集年份：", test_years[0], "~", test_years[-1])

# 可選：將分割後的資料存成 CSV
train.to_csv("Dataset/train.csv", index=False)
test.to_csv("Dataset/test.csv", index=False)

print("CSV 檔案已成功儲存成功")

訓練集年份： 1961 ~ 2011
測試集年份： 2012 ~ 2024
CSV 檔案已成功儲存成功